.homepage-img {
  object-fit: fill;
  height: 100vh;
  filter: brightness(50%);
  margin-top: 3rem;
}

.main-container {
  background-color: #f5efe7;
}

.text-container {
  position: relative;
  bottom: 40rem;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(217, 217, 217, 80%);
  padding: 10px;
  border-radius: 20px;
  border: 4px solid #4f709c;
  background-position: 50% 50%;
}

.homepage-welcome-title {
  font-size: 2.5rem;
  padding-top: 2rem;
}

.homepage-welcome-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

/* ////////////////media phone sizing////////////////////////////// */

/* @media screen and (width >= 765px) {

} */
